@page "/admin/dashboard"
@using BlazorFurniture.Client.Components.Admin
@using BlazorFurniture.Shared.Components.Admin.Groups
@using BlazorFurniture.Shared.Models.Users.Responses
@rendermode InteractiveWebAssembly

@layout AdminLayout
@attribute [Authorize]

<MudDialogProvider />
<MudSnackbarProvider />

@* @inject AuthenticationStateProvider AuthenticationStateProvider *@

@* <PermissionGuard RequiredRole="PlatformRoles.Admin" RedirectTo="/">
    <PageTitle>Admin Dashboard</PageTitle>

    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
        
        <!-- Dashboard content -->
    </MudContainer>
</PermissionGuard> *@
<h1>@SearchService.SearchTerm</h1>
<MudText Typo="Typo.caption">@UserPermissions?.Role ?? whgut</MudText>
<MudGrid Justify="Justify.Center" Spacing="8">
	<MudItem xs="12" md="6">
		@if (UserPermissions is not null)
		{
			<UserGroups Groups=UserPermissions.Groups></UserGroups>
		}
	</MudItem>
	
	<MudItem xs="12" md="6">
		<DashboardQuickActions></DashboardQuickActions>
	</MudItem>
</MudGrid>

@code {
	[Inject] public required IPermissionsService PermissionsService { get; init; }
	[Inject] public required ISearchService SearchService { get; init; }

	[PersistentState]
	public UserPermissions? UserPermissions { get; set; }
	private readonly List<ActivityTimeline.ActivityItem> recentActivities = new()
	{
		new() { Title = "User Login", Description = "John Doe logged in", Time = "2 min ago", Color = Color.Success },
		new() { Title = "Group Created", Description = "Admin group created", Time = "1 hour ago", Color = Color.Info }
	};

	protected override async Task OnInitializedAsync()
	{
		SearchService.OnSearchChanged += HandleSearchChanged;
		UserPermissions ??= await PermissionsService.GetUserPermissions();
	}

	private void HandleSearchChanged()
	{
		StateHasChanged();
	}

	public void Dispose()
	{
		SearchService.OnSearchChanged -= HandleSearchChanged;
	}
}