@page "/admin/dashboard"
@rendermode InteractiveWebAssembly
@layout AdminLayout
@attribute [Authorize]
@* @inject AuthenticationStateProvider AuthenticationStateProvider *@
@* @inject IStringLocalizer<CommonResource> CommonLocalizer *@

	<h1>asdf</h1>
@* <PermissionGuard RequiredRole="PlatformRoles.Admin" RedirectTo="/">
    <PageTitle>Admin Dashboard</PageTitle>

    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
        
        <!-- Dashboard content -->
    </MudContainer>
</PermissionGuard> *@