@page "/admin/dashboard"

@layout AdminLayout
@inherits AdminPageBase
@attribute [Authorize]

<h1>@SearchService.SearchTerm</h1>
<MudGrid Justify="Justify.Center" Spacing="8">
    <MudItem xs="12" md="6">
        <CurrentUserGroups Style="height:400px;" />
    </MudItem>

    <MudItem xs="12" md="6">
        <DashboardQuickActions />
    </MudItem>
</MudGrid>

@code {
    [Inject] public required ISearchService SearchService { get; init; }

    protected override void OnParametersSet()
    {
        Breadcrumbs.Clear();
    }

    protected override async Task OnInitializedAsync()
    {
        SearchService.OnSearchChanged += HandleSearchChanged;
    }

    private void HandleSearchChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        SearchService.OnSearchChanged -= HandleSearchChanged;
    }
}