.max-h-full {
    max-height: 100%;
}

.h-full {
    height: 100%;
}

.min-h-full {
    min-height: 100%;
}

.max-w-full {
    max-width: 100%;
}

.w-full {
    width: 100%;
}

.min-w-full {
    min-width: 100%;
}

html{
    height: 100%;
}

.hide-scrollbar {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge (Chromium) */
}